.st0 {
	fill: red;
	stroke:#a50000;
	stroke-width:4;
	stroke-miterlimit:10;
}

.st2 {
	fill: yellow;
	stroke:#a0a000;
	stroke-width:4;
	stroke-miterlimit:10;
}

.st1 {
	fill: green;
	stroke:#015c01;
	stroke-width:4;
	stroke-miterlimit:10;
}