body {
    background-color: #c8c8c8ce;
    margin: 0px; /* put off the margin default of the body */
}

header {
    width: 100%;
    height: 60px;
    display: block;
    background-color: #9013F3;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15); /* Puts shadow in a box */
}

main {
    width: 1000px;
    height: auto;
    display: table;
    background-color: #fff;
    border-radius: 8px; /* Modify the border of a box */
    margin: 30px auto 0px auto;
    margin-top: 30px;
    margin-left: auto; /* Centralize the main in the middle of the body */
    margin-right: auto; /* Centralize the main in the middle of the body */
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
}

.box-container {
    width: 300px;
    margin: 25px 0px 25px 25px;
    display: table; /* in this display: table, the height of the box-container will be defined according to the elements height inside of him */
    float: left; /* the box is floating, under the screen, to the left */
}

.box {
    width: 100%;
    height: 200px;
    display: block;
    background-color: #80c817;
    border-radius: 10px;
    border: 4px solid #9013F3;
    box-sizing: border-box; /* put the element's border inside of him */
}

.btn {
    width: 100%;
    height: 45px;
    background-color: #9013F3;
    border-radius: 4px;
    display: block;
    margin-top: 25px;
}

.clearfix {
    width: 100%;
    height: 1px;
    display: block;
    clear: both;
}